pkgbase = solidity-compiler
	pkgdesc = Solidity compiler.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/solidity-compiler
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = hardhat
	depends = libcrash-bash
	depends = tsu
	source = solidity-compiler-4549aa1baea1d858178354f3d770b7cd5d9fb320.zip::https://github.com/themartiancompany/solidity-compiler/archive/4549aa1baea1d858178354f3d770b7cd5d9fb320.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	validpgpkeys = DD6732B02E6C88E9E27E2E0D5FC6652B9D9A6C01
	sha256sums = fdf9f8c1e07788910fdc5091340bca40784fb48e918657d5e6cdcbd5b8e540ef

pkgname = solidity-compiler
